doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    title=title
    meta(name='description', content='My private site')
    meta(name='author', content='Kamil Cecherz')
    link(rel='stylesheet', href='css/main.css?v=1.0')
  body
    nav
      a(href='/') index
      a(href='/agnes') Agnes
      a(href='/kamil') Kamil
    .wrapper
      img(src='img/kamil.jpg', alt='Agnes foto')
    script(src='js/main.js')
    nav